<div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.jammable.com/cdn-cgi/image/width=640,quality=75,format=webp/https://imagecdn.voicify.ai/models/eed37568-58ac-491a-aee4-0b5e30232759.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ronaldo</h5>
            <p class="card-text">blablablabla</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.jammable.com/cdn-cgi/image/width=640,quality=75,format=webp/https://imagecdn.voicify.ai/models/eed37568-58ac-491a-aee4-0b5e30232759.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ronaldo</h5>
            <p class="card-text">blablablabla</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.jammable.com/cdn-cgi/image/width=640,quality=75,format=webp/https://imagecdn.voicify.ai/models/eed37568-58ac-491a-aee4-0b5e30232759.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ronaldo</h5>
            <p class="card-text">blablablabla</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.jammable.com/cdn-cgi/image/width=640,quality=75,format=webp/https://imagecdn.voicify.ai/models/eed37568-58ac-491a-aee4-0b5e30232759.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ronaldo</h5>
            <p class="card-text">blablablabla</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>